# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the key takeaways from the course:
Objectives:
-List popular languages for Data Science
-Commonly used Libraries for Data Science
-Data Science Tools
-Some Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1.Phython
2.R
3.SQL
4.Scala
5.Java

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.Matplotlib
4.TensorFlow
5.Matplotlib

Data Science Tools:
1.Programming Languages:Phython,R
2.Data Analysis and Manipulation:Pandas,NumPy,SQL
3.Data Visualization:Matplotlib,Seaborn
4.Machine Learning:Scikit-learn,TensorFlow
5.Big Data:ApacheSpark,Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
# This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335